
body {
  background: url(/static/images/background.png) repeat;
}

body, h1, h2, h3, h4, h5, h6 {
  font-family: 'Ubuntu', sans-serif;
  line-height: 1.1em;
}

textarea {
  font-family: 'PT Mono', monospace;
  font-size: 14px;
}

.button, textarea, input {  border: 0px !important; }

#results, #desc, #data-panel, #data-output {
  width: 100%;
  min-height: 200px;
  padding: 15px;
  -moz-border-radius: 3px; -webkit-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px;
  background-color: #f0eeea;
  box-shadow: 0px 0px 4px #888;
  font-family: "PT Mono", monospace;
  font-size: 14px;
  white-space: pre-wrap;
}

#query-form > input[type="text"] {
  white-space: pre-wrap;
  width: 100%;
  min-height: 50px;
  padding: 15px;
  -moz-border-radius: 3px; -webkit-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px;
  background-color: #f0eeea;
  box-shadow: 0px 0px 4px #888;
  font-family: "PT Mono", monospace;
  font-size: 14px;
}

.great-success {
  box-shadow: 0px 0px 30px #88a !important;
  color: #333377 !important;
}

.error {
  box-shadow: 0px 0px 30px #a88 !important;
  color: #773333 !important;
}

.line-error {
  background-color: #ab1515 !important;
  color: #fff !important;
}

.left {
  float: left;
}

.active, .active:hover {
  background-color: #ff6000;
}

.button {
  margin-right: 5px;
}

#info {
  background-color: rgb(238, 238, 238); 
  color: rgb(102, 102, 102); 
  font-size: 0.8em; 
  margin: 0px; 
  padding: 3px 5px 3px 4px;
  width: 90%;
  text-align: center;
}

.center {
  text-align: center;
}

.spacer {
  margin-bottom: 5px;
}